<app-header></app-header>
<main class="w-100 h-100 text-center">
  <div>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="reactiveForm"
      class="w-50 m-auto mt-5"
    >
      <h2 style="background-color: #14171a" class="bg-dark w-100 m-auto">
        Permissions
      </h2>
      <div class="w-100 mt-5" *ngFor="let page of permission">
        <h4>{{ page.pageDescEn }}</h4>
        <div>
          <input
            type="radio"
            value="readWrite{{ page.id }}"
            formControlName="permissions"
          />
          Read - Write
          <input
            type="radio"
            value="read{{ page.id }}"
            formControlName="permissions"
          />
          read
          <input
            type="radio"
            value="none{{ page.id }}"
            formControlName="permissions"
          />
          none
        </div>
        <span *ngFor="let func of page.pageFunctions">
          <div>
            <input
              class="m-2"
              type="checkbox"
              name="{{ func.pageFuncDescEn }}"
              formControlName="options"
              id=""
              value="{{ func.pageFuncDescEn }}"
            />{{ func.pageFuncDescEn }}
          </div>
        </span>
      </div>
      <div>
        <button class="btn btn-info text-black" type="submit">Submit</button>
      </div>
    </form>

    <!-- <form
      (ngSubmit)="onSubmit()"
      [formGroup]="reactiveForm"
      class="w-50 m-auto"
    >
      <div formGroupName="userData">
        <div>
          <label for="username">Username: </label>
          <input
            type="text"
            name="username"
            id="username"
            formControlName="username"
            class="form-control"
          />
          <span
            *ngIf="
              !reactiveForm.get('userData.username').valid &&
              reactiveForm.get('userData.username').touched
            "
            class="help-block"
            >Please enter a valid username!</span
          >
        </div>
        <div>
          <label for="email">Email: </label>
          <input
            class="form-control"
            type="text"
            name="email"
            id="email"
            formControlName="email"
          />
          <span
            *ngIf="
              !reactiveForm.get('userData.email').valid &&
              reactiveForm.get('userData.email').touched
            "
            class="help-block"
            >Please enter a valid email!</span
          >
        </div>
      </div>

      <div>
        <label for="gender">Gender: </label>
        <input

          type="radio"
          name="gender"
          id="gender"
          value="male"
          formControlName="gender"
        />
        male
        <input

          type="radio"
          name="gender"
          id="gender"
          value="female"
          formControlName="gender"
        />
        female
      </div>

      <div>
        <h4 class="mt-2">Your Hobbies</h4>
        <button
          class="btn btn-success m-4"
          (click)="onAddHobby()"
          type="button"
        >
          Add Hobby
        </button>
      </div>
      <!-- *ngFor="let hobbyControl of getControls(); let i = index" -->
    <!--
      <div>
        <span
          *ngIf="!reactiveForm.valid && reactiveForm.touched"
          class="help-block"
          >Please enter a valid data!</span
        >
        <button class="btn btn-primary form-control" type="submit">
          Submit
        </button>
      </div>
    </form>  -->
  </div>
</main>
